/*
UFF COLORS: 
White: ???
Blue: #0058A9
Blue2: #215CAA
Yellow: #F6CF19
Green: #0B6951 (this green ?)
Green: #449e48 (OR this green ?)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scrollbar-color: #777 #282828;
}

body {
    background-color: #242424;
}

.hidden {
    display: none !important;
}

#fluxograma {
    display: flex;
    flex-direction: row;
}

.period {
    display: flex;
    flex-direction: column;
}

.subject {
    position: relative;
    color: white;
    border: 1px solid #404040;
    min-width: 8rem;
    width: 12vw;
    max-width: 12rem;
    height: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1.4rem;
    background-color: #3a3a3a;
    border-radius: 16px;
    box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, 0.75);
}

.subject img {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.subject:hover {
    cursor: pointer;
    color: white;
    transition: 0.3s;
    transform: translateY(-10px);
}

.unlocked {
    background-color: #449e48;
}

.finished {
    background-color: #1765a8;
    color: white;
}

.required {
    border: 2px solid red;
}

.unlocks {
    border: 2px solid #5ee265;
}

.active {
    border: 2px solid blue;
}

.check_period {
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: end;
    justify-content: center;
    margin-top: 2rem;
    color: white;
}

.check_semester {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-right: 1rem;
    margin-top: 0.5rem;

    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;

    color: #242424;
    background-color: #3a3a3a;
    border: 1px solid #555;
    border-radius: 4px;

}

.check_semester:checked {
    background-color: #1765a8;
}

.check_semester:checked::before {
    content: "✔";
    font-size: 1.5rem;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}


.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    position: fixed;
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);

    width: 16rem;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #242424;
    border: 2px solid #454545;
    color: white;
}

#closeSidebarButton {
    display: block;
    z-index: 2;
    position: fixed;
    top: 2%;
    left: 98%;
    transform: translate(-100%, 0);
}

.sidebar h2 {
    text-align: center;
}

.sidebar .sidebarContent .someInfo {
    background-color: #3a3a3a;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar .sidebarContent .preRequisitos {
    background-color: #3a3a3a;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar .sidebarContent .desbloqueia {
    background-color: #3a3a3a;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar .sidebarContent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebarContent li {
    margin-top: 5px;
}

#progressDiv {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem;
    padding: 0;
    width: 90%;
    z-index: 1;
    background-color: #242424;
    border: 2px solid #3a3a3a;
    border-radius: 1rem;
}

#progressBar {
    background-color: #449e48;
    height: 1.25rem;
    border-radius: 1rem;
}

#progressText {
    position: fixed;
    color: white;
    text-align: center;
    top: 0.125rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    z-index: 2;
}

::-webkit-scrollbar {
    width: .75rem;
    height: .75rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-resizer,
::-webkit-scrollbar-button {
    display: none;
}