/*
UFF COLORS: 
White: ???
Blue: #0058A9
Blue2: #215CAA
Yellow: #F6CF19
Green: #0B6951 (this green ?)
Green: #449e48 (OR this green ?)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #242424;
    /* justify-content: space-around;  */ /*is this necessary? */
}

.hidden {
    display: none !important;
}

#fluxograma {
    display: flex;
    flex-direction: row;
}

.period {
    display: flex;
    flex-direction: column;
}

.subject {
    position: relative;
    color: white;
    border: 1px solid #404040;
    min-width: 8rem;
    width: 12vw;
    max-width: 12rem;
    height: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1.4rem;
    background-color: #3a3a3a;
    /* background-color: #303030; */
    border-radius: 16px;
    box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, 0.75);
}

.subject img {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
/* Fix this shit that gemini made */

.checkbox {
    margin-left: 6px;
}

.check_period {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.7rem;
    color: white;
}

.check_period input[type="checkbox"] {
    margin-top: 0.5rem;
    transform: scale(1.5);
}

.subject:hover {
    cursor: pointer;
    color: white;
    transition: 0.3s;
    transform: translateY(-10px);
}

.unlocked {
    background-color: #449e48;
}

.finished {
    /*background-color: #cbcbcb;*/
    background-color: #1765a8;
    color: white;
    /*box-shadow: 0 0 10px rgba(205, 203, 203, 0.5), 0 0 20px rgba(205, 203, 203, 0.3), 0 0 30px rgba(205, 203, 203, 0.2);*/
}

/* .locked {
    background-color: red;
} */

.required {
    border: 2px solid red;
}

.unlocks {
    border: 2px solid #5ee265;
}

.active {
    border: 2px solid blue;
}

/* #p2::after {
    content: '';
    position: absolute; top: 0; left: 50%;
    border-top: 1px solid #b0b0b0;
    width: 0;
    height: 20px;
} */

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/

    position: fixed;
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);

    width: 16rem;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #242424;
    border: 2px solid #454545;
    /*border-radius: 2rem 0 0 2rem;*/
    color: white;
}

#closeSidebarButton {
    display: block;
    z-index: 2;
    position: fixed;
    top: 2%;
    left: 98%;
    transform: translate(-100%, 0);
}

.sidebar h2{
    text-align: center; 
}

.sidebar .sidebarContent .someInfo{
    background-color: #3a3a3a;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;   
    
    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar .sidebarContent .preRequisitos{
    background-color: #3a3a3a;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;   
    
    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar .sidebarContent .desbloqueia{
    background-color: #3a3a3a;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;   
    
    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar .sidebarContent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebarContent li{
    margin-top: 5px;
}

#progressBar {
    position: fixed;
    background-color: #449e48;
    color: white;
    /* width: 300px; */
    font-size: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}